* {box-sizing: border-box;}

body {
  /* border: 1px solid gold; */
  text-align: center;
}

.img {
  width: 425px;
  height: 300px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9KI8QqmlhjbyPD3uO6sjZn_SdKHVCb_SDK8wUdyj8-6_a_mVf");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

h4 {
  line-height: .1rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
  height: 400px;
  padding: .5rem .5rem;
  margin: 1rem auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
